@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* Основной текст */
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

/* Обнуляем отступы */
h1,
h2,
h3,
p {
  margin: 0;
}

/* Убираем лишниее пространство под картинкой */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.unvisible {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.logo {
  padding: 16px 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    padding: 24px 0;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__segment {
  color: #2196f3;
}

.menu-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn:hover {
  color: #2196f3;
}

.menu-btn.is-open {
  position: fixed;
  right: 15px;
  z-index: 20;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn__close-icon {
  display: none;
}

.menu-btn__menu-icon {
  fill: currentColor;
}

.is-open .menu-btn__menu-icon {
  display: none;
}

.is-open .menu-btn__close-icon {
  display: block;
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__container {
    max-width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    max-width: 1200px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  color: #212121;
}

.header__menu-container {
  display: flex;
  font-weight: 500;
  letter-spacing: 0.02em;
  flex-grow: 1;
  z-index: 10;
}

@media screen and (max-width: 767px) {
  .header__menu-container {
    display: none;
  }
  .header__menu-container.is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-container {
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__menu-container {
    margin-left: 93px;
  }
}

.header__menu-thumb {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .header__menu-thumb {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .header__nav {
    font-size: 40px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .header__nav {
    line-height: 1.14;
  }
}

.header__social-list {
  margin-top: 64px;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

.header__social-link {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  color: #2196f3;
}

.header__social-link:last-child {
  border: none;
}

@media screen and (min-width: 768px) {
  .header__social-link {
    display: none;
  }
}

.list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .list__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.link {
  margin: 0;
  color: currentColor;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: #2196f3;
}

.link--current {
  position: relative;
  padding: 32px 0;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    margin: inherit;
    display: block;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.link__envelope-icon,
.link__tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .link__envelope-icon,
  .link__tel-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .link__envelope-icon {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .link__envelope-icon {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .link__tel-icon {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .link__tel-icon {
    width: 10px;
    height: 16px;
  }
}

.contacts {
  margin: 0;
  padding-left: 0;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .contacts {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:first-child {
    margin-top: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  line-height: 1.17;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .contact__link {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .contact__link {
    padding: 0;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--tel {
    font-size: 34px;
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .contact__link--tel {
    margin-left: 50px;
  }
}

.hero {
  max-width: 480px;
  margin: auto;
  padding: 118px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  color: #ffffff;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_480.jpg);
  background-size: 480px 400px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_480@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_768.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_768@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_1200.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_1200@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__slogan {
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__slogan {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.btn__icon--right {
  margin-left: 10px;
}

.btn--position {
  margin: 30px auto 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .section__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section__container {
    max-width: 1200px;
  }
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.section--top {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--top {
    display: block;
    padding-top: 0;
  }
}

.section--bg-color {
  background-color: #f5f4fa;
}

.feature {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .feature {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    width: 270px;
  }
}

.feature__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 25px 0;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: start;
  }
}

.actyvity {
  position: relative;
  margin: 15px;
}

.activity__title {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team-card {
  max-width: 450px;
  margin: 15px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.19;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .team-card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: 270px;
  }
}

.team-card__name {
  margin: 30px auto 10px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
}

.team-card__position {
  margin-bottom: 16px;
  color: #757575;
}

.social-list {
  width: 206px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-link__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.social-link--color {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover, .customer-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .customer-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-link {
    width: 170px;
  }
}

.customer-link__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  max-width: 480px;
  text-align: center;
  margin: auto;
  padding: 60px 15px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    max-width: 1200px;
    display: flex;
    text-align: start;
  }
}

.footer__adress {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    padding-bottom: 0;
  }
}

.footer__logo {
  padding: 0;
  color: #ffffff;
}

.footer__list {
  height: 81px;
  width: 231px;
  margin: 20px auto 0px;
  padding-left: 0;
  display: grid;
  align-content: space-between;
  list-style: none;
  font-style: normal;
}

.footer__link {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.footer__link--color {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link--color:hover, .footer__link--color:focus {
  color: #2196f3;
}

.footer__social {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__social {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social {
    padding-bottom: 0;
  }
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    padding-top: 5px;
  }
}

@media screen and (min-width: 768px) {
  .footer__thumb {
    padding-left: 61px;
    padding-right: 74px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__thumb {
    padding-left: 0;
    padding-right: 93px;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.footer__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscribe {
    flex-direction: row;
  }
}

.footer__input {
  width: 100%;
  max-width: 450px;
  margin-bottom: 20px;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  height: 609px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.backdrop--hidden .modal {
  opacity: 0.6;
  transform: translate(-50%, -50%) scale(0.4);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.form {
  padding: 40px;
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
}

.form__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.form__box {
  position: relative;
  height: 58px;
  margin-bottom: 10px;
}

.form__label {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 0;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:hover, .form__label:focus, .form__label:focus-within {
  color: #2196f3;
}

.form__label:focus {
  border-color: #2196f3;
  outline: none;
}

.form__text {
  position: absolute;
  top: -4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translateY(-100%);
}

.form__input {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:hover .form__input,
.form__label:focus .form__input, .form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: currentColor;
}

.form__comment-box {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__comment-label {
  display: block;
  margin-bottom: 4px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover, .form__textarea:focus {
  border-color: #2196f3;
  outline: none;
}

.form__textarea:focus {
  color: #757575;
}

.form__agreement {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .form__agreement {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form__check-icon {
  margin-right: 8px;
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
}

.form__checkbox:checked + .form__check-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-origin: border-box;
}

.form__link {
  color: #2196f3;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover, .close-btn:focus {
  color: #2196f3;
}

.close-btn__icon {
  fill: currentColor;
}

.filter {
  margin: -15px 0 40px 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin: 0 0 50px 0;
  }
}

.filter__item {
  margin-top: 15px;
}

.filter__btn {
  margin: 0 4px;
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  border-width: 0;
  border-radius: 4px;
  box-shadow: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:hover, .filter__btn:focus, .filter__btn--current {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -15px;
  padding-left: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .grid--justify {
    justify-content: start;
  }
}

.grid__item {
  margin: 15px;
}

.project {
  max-width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .project {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    width: 370px;
  }
}

.project:hover, .project:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__picture {
  position: relative;
  overflow: hidden;
}

.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  display: block;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 155, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.grid__item:hover .project__overlay,
.grid__item:focus .project__overlay {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .project__overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .project__overlay {
    padding: 63px 24px;
  }
}

.project__description {
  padding: 20px 24px;
  flex-grow: 1;
  box-shadow: none;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.project__type {
  margin: 4px 0 0 0;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */