.filter {
    margin: -15px 0 40px 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    @media screen and (min-width: $tablet) {
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        margin: 0 0 50px 0;
    }
}
.filter__item {
    margin-top: 15px;
}

.filter__btn {
    margin: 0 4px;
    padding: 6px 22px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: $headerColor;
    background: $secondaryBgColor;
    border-width: 0;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;

    transition: color 250ms $timing, 
                background-color 250ms $timing,
                box-shadow 250ms $timing;

    &:hover,
    &:focus,
    &--current {
        background-color: $accentColor;
        color: $bgColor;
        box-shadow: 0px 3px 1px $shadowColor5, 
                    0px 1px 2px $shadowColor6,
                    0px 2px 2px $shadowColor2;
    }
}