.grid {
    display: flex;
    flex-wrap: wrap;
    margin: -30px 0 0 -30px;
    padding-left: 0;
    list-style: none;
}

.grid__item {
    margin-left: 30px;
    margin-top: 30px;
    // box-shadow: none;
    // transition: box-shadow 250ms $timing;

    // &:hover,
    // &:focus {
    //     box-shadow: 0px 1px 1px $shadowColor2, 
    //             0px 4px 4px $shadowColor7,
    //             1px 4px 6px $shadowColor8;
    // }
}