.hero {
    padding: 118px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    color: $bgColor;
    background-color: $additionalBgColor;
    background-image: linear-gradient($gradientColor, $gradientColor),
        url(../images/background.jpg);

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        padding: 200px 0;   
    }
}

.hero__slogan {
    margin-bottom: 30px;
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}