.hero {
    max-width: 480px;
    margin: auto;
    padding: 118px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
    color: $bgColor;
    background-color: $additionalBgColor;
    background-image: linear-gradient($gradientColor, $gradientColor),
                      url(../images/bg_480.jpg);
    background-size: 480px 400px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient($gradientColor, $gradientColor),
                            url(../images/bg_480@2x.jpg);
    }

    @media screen and (min-width: ($mobile + 1px)) {
        max-width: 768px;
        background-image: linear-gradient($gradientColor, $gradientColor),
                          url(../images/bg_768.jpg);
        background-size: 768px 400px;                  

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient($gradientColor, $gradientColor),
                            url(../images/bg_768@2x.jpg);
        }
    }

    @media screen and (min-width: ($tablet + 1px)) {
        max-width: 1600px;
        background-image: linear-gradient($gradientColor, $gradientColor),
                          url(../images/bg_1200.jpg);
        background-size: 1600px 600px;                  

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient($gradientColor, $gradientColor),
                            url(../images/bg_1200@2x.jpg);
        }
    }

    @media screen and (min-width: $desktop) {
        padding: 200px 0;   
    }
}

.hero__slogan {
    margin-bottom: 30px;
    max-width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        max-width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}