.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: $headerColor;
}

.section--top {
    padding-top: 0;
}

.section--bg-color {
    background-color: $secondaryBgColor;
}