$textColor: #757575;
$headerColor: #212121;
$logoColor: #000000;
$accentColor: #2196f3;
$bgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$additionalBgColor: #2f303a;
$additionalBgColor2: rgba(47, 48, 58, 0.8);
$contactColor: rgba(255, 255, 255, 0.6);
$separatorLineColor: #ececec;
$borderColor: #eeeeee;
$iconColor: #afb1b8;
$shadowColor1: rgba(0, 0, 0, 0.15);
$shadowColor2: rgba(0, 0, 0, 0.12);
$shadowColor3: rgba(0, 0, 0, 0.14);
$shadowColor4: rgba(0, 0, 0, 0.2);
$shadowColor5: rgba(0, 0, 0, 0.1);
$shadowColor6: rgba(0, 0, 0, 0.08);
$shadowColor7: rgba(0, 0, 0, 0.06);
$shadowColor8: rgba(0, 0, 0, 0.16);
$gradientColor: rgba(47, 48, 58, 0.4);
$iconBgColor: rgba(255, 255, 255, 0.1);
$overlayBgColor: rgba(33, 155, 243, 0.9);
$inputBorderColor: rgba(33, 33, 33, 0.2);
$inputBorderColor2: rgba(255, 255, 255, 0.3);
$placeholderColor: rgba(117, 117, 117, 0.5);
$timing: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;